@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.home_background {
  @apply bg-gradient-to-br from-zinc-200 to-zinc-100
}

@media (prefers-color-scheme: dark) {
  :root {
    @apply bg-gradient-to-br from-zinc-900 to-zinc-800
  }
}