@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap; /* Important for performance */
}

@font-face {
  font-family: 'Inter'; /* Give your font a name */
  src: url('../../public/fonts/inter/Inter_28pt-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap; /* Important for performance */
}

:root {
  font-family: "Inter";
  font-weight: 200
}